#data{
	position:fixed;
	left:10%;
	top:5%;
	width:80%;
}

#data table, #data td, #data th {    
    border: 1px solid #ddd;
    text-align: left;
}

#data table {
    border-collapse: collapse;
    width: 100%;
	background-color:#FFF;
}

#data th, #data td {
    padding: 15px;
}

#data th{
	background-color:#E6E6E6;
}
#dataBoton{
	text-align:right;
}

#dataHora{
    font-size:15px;
	 Color: #000000;
	 font-weight:bold;
}

#dataRuta{
    background:	#008000;
	Color: 	#FFFFFF;
	font-weight:900;
	text-transform:uppercase;
}	

#dataQueP{
	Color: #000000;
}			




