#FBlogin{
	margin: 100px auto;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url("style/imgs/fondo.jpg");
	background-repeat: no-repeat;
}

#FBlogin h1{
	margin-bottom: 40px;
}

#FBlogin strong, #FBlogin img{

	display: block;
}

#FBlogin img{

	margin: 0 auto;
	border-radius: 10px;
}

#FBlogin #logout{

margin-top: 10 px;

}