*{
	font-family:Arial;
	font-weight:bold;
}

#mensaje{
	position:fixed;
	left:0%;
	bottom:10%;
	text-align:center;
	background-color:rgba(11,15,97,.9);
	border-radius:0px;
	color:#fff;
	width:100%;
}


#addReporte *{
	border-radius:8px;
	font-weight:none;
}
#addReporte.ipunt{
	text-transform: capitalize;
}
#addReporte button{
	box-shadow:none;
}
textarea {
    resize: none;
}
.noVisible{
	display:none;
}
