.popup #closepopup{
    background-color: #F22727;
    color:#fff;
    font-weight: normal;
}
.popup #popHDR{
    font-weight:bold;
    font-size:2em;
}
.modal-content{
    border:2px solid #01DF01;
}

#popUp{
	position:fixed;
	left:10%;
	top:5%;
	width:80%;
}