#panel{
	position:fixed;
	left:42%;
	top:5%;
	display:inline-block;
	width:60%;
}

#panel *{
	text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #FFF;
	background: #7F8C8D;
	padding: 15px 40px;
	white-space: nowrap;
	margin: 10px 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.azul{
  background: #3498DB;
  box-shadow: 0px 5px 0px 0px #2980B9;
}.azul:hover{
  background: #39a0e5;
}.azul:active{
  box-shadow: 0px 2px 0px 0px #2980B9;
}

.rojo{
  background: #E74C3C;
  box-shadow: 0px 5px 0px 0px #C0392B;
}.rojo:hover{
  background: #ff5242;
}.rojo:active{
  box-shadow: 0px 2px 0px 0px #C0392B;
}



